<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>登录XX后台</title>
    <link href="/common/css/style.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="/common/css/baidu_login.css" rel="stylesheet" media="screen" type="text/css" />

  </head>

  <body>
    <div id="passport-login-pop" class="tang-pass-pop-login-noimg tang-pass-pop-login-merge tang-pass-pop-login-tpl-mn tang-pass-pop-login-color-blue tang-pass-pop-login" style="z-index: 60001; display: true ">
      <div class="tang-background" id="TANGRAM__PSP_4__" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -9; -webkit-user-select: none; -moz-user-select: none;" onselectstart="return false">
        <div class="tang-background-inner" style="width: 100%; height: 100%;" id="TANGRAM__PSP_4__inner"></div>
        <div style="filter: progid:DXImageTransform.Microsoft.Alpha(opacity:0); position: absolute; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background-color: #FFFFFF"></div>
      </div>
      <div class="tang-foreground" id="TANGRAM__PSP_2__foreground" style="width: 393px;">
        <div class="tang-title tang-title-dragable" id="TANGRAM__PSP_2__title">
          <div class="buttons" id="TANGRAM__PSP_2__titleButtons"><a id="TANGRAM__PSP_2__closeBtn" class="close-btn"></a></div>
          <span id="TANGRAM__PSP_2__titleText">内部帐号登录</span></div>
        <div class="tang-body" id="TANGRAM__PSP_2__body">
          <div class="tang-content" id="TANGRAM__PSP_2__content">
            <div id="passport-login-pop-dialog">
              <div class="clearfix">
                <div class="pass-login-pop-content" id="">
                  <div class="pass-login-pop-form">
                    <div id="passport-login-pop-api" class="tang-pass-login">
                      <p id="TANGRAM__PSP_8__errorWrapper" class="pass-generalErrorWrapper">
                        <span id="TANGRAM__PSP_8__error" class="pass-generalError pass-generalError-error"></span>
                      </p>
                      <p id="TANGRAM__PSP_8__userNameWrapper" class="pass-form-item pass-form-item-userName" >
                        <label for="TANGRAM__PSP_8__userName" id="TANGRAM__PSP_8__userNameLabel" class="pass-label pass-label-userName">手机/邮箱/用户名</label>
                        <input id="TANGRAM__PSP_8__userName" type="text" name="userName" class="pass-text-input pass-text-input-userName open" autocomplete="off" placeholder="手机/邮箱/用户名">
                      </p>
                      <p id="TANGRAM__PSP_8__passwordWrapper" class="pass-form-item pass-form-item-password" >
                        <label for="TANGRAM__PSP_8__password" id="TANGRAM__PSP_8__passwordLabel" class="pass-label pass-label-password">密码</label>
                        <input id="TANGRAM__PSP_8__password" type="password" name="password" class="pass-text-input pass-text-input-password" placeholder="密码">
                      </p>
                      <p id="TANGRAM__PSP_8__memberPassWrapper" class="pass-form-item pass-form-item-memberPass">
                        <input id="TANGRAM__PSP_8__memberPass" type="checkbox" name="memberPass" class="pass-checkbox-input pass-checkbox-memberPass" checked="checked">
                        <label for="TANGRAM__PSP_8__memberPass" id="TANGRAM__PSP_8__memberPassLabel" class="">下次自动登录</label>
                      </p>
                      <p id="TANGRAM__PSP_8__submitWrapper" class="pass-form-item pass-form-item-submit">
                        <input id="TANGRAM__PSP_8__submit" type="submit" value="登录" class="pass-button pass-button-submit">
                        <a class="pass-reglink" href="/reg">立即注册</a>
                        <a class="pass-fgtpwd">忘记密码？</a>
                      </p>
                    </div>
                    <div id="TANGRAM__PSP_8__pass_b2c" style="display: none;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tang-footer" id="TANGRAM__PSP_2__footer" style="display: none;">
          <div id="TANGRAM__PSP_2__footerContainer"></div>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="/common/js/jquery-1.4.2.min.js"></script>
</html>
