.cms-search {
  margin-top: 10px;
}

.cms-search input {
  display: inline-block;
  width: 65%;
}

.cms-search button {
  float: left;
}

textarea {
	display: none;
}

.row,.cms-search .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

.cms-search .form-group {
  float: left;
  margin-left: 10px;
}